/* common */
.hidden {
  display: none;
}

#container {
  display: flex;
  justify-content: center;
}
#container .inner {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container .inner .title {
  font-size: 15px;
  padding: 150px 0 80px;
  color: #cf0c0c;
  font-weight: bold;
}
#container .inner .login {


}
#container .inner .login .login-form {
}
#container .inner .login .login-form .user-name {
  border: none;
  border-bottom: 1px solid #000;
}
#container .inner .login .login-form .user-name:focus {
  outline: none;
  border-bottom: 1px solid #abe1f6;
}
#container .inner .login .login-form .btn-login {
  border: none;
  background-color: #fff;
  /* color: #abe1f6; */
}
#container .inner .login .welcome-user {

}

#container .inner .to-do {}
#container #clock {}
#container .inner .to-do .to-do-form {}
#container .inner .to-do .to-do-form .write-todo {}
#container #todo-list {}






